body{
	background-image: url(/IMG/fondoindex2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Righteous', cursive;
color: #F1C40F;
}
.padre {
  background-color: #fafafa;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  /* IMPORTANTE */
  text-align: center;
}

.nav-link { color: #F1C40F; }
nav{
	

}

#formulario{
	color: #F1C40F;
	

}

.table{
		color: #F1C40F;

}
